# Arithmetic Operators

In [2]:
2 + 3

5

## Assignment Operators

In [12]:
operator         Example       Same_as

=                  a = b        a = b
+=                 a += b       a = a+ b
-=                 a -=b        a = a - b
*=                 a *=b        a = a*b
/=.                a /= b.      a = a/b

SyntaxError: invalid syntax (126783242.py, line 1)

## Comparison operators of python

In [4]:
3 > 4

False

In [5]:
> 
< 
== 
!=
>=
<=

Less than ( < )
Less than or equal to ( <= )
Greater than ( > )
Greater than or equal to ( >= )
Equal to ( == )
Not equal to ( != )

SyntaxError: invalid syntax (1916238867.py, line 1)

In [ ]:
temperature = 15
if temperature > 30:
    print("Temperature is warm!")
    print("Please drink water")
elif temperature > 20:
    print("Its nice")    
print("Done")

## compare string 
ord(4)

In [9]:
ord('b')
ord('a')

97

## Identity and membership operators

### Identity operators are used to find the type: class/type/object 
### The are two types of identity operators 
## is 
## is not

### membership

In [11]:
x = [4,5,6,7,8]
6 in x

True

## Logical Operators:

### Logical operators are useful to combin multiple conditions.

In [14]:

# changin comparison operator 
# age should be between 18 and 65 
age = int(input("x: "))
'''
if age >= 18 and  age < 65:
    print("age is between 18 and 65 ")
else:
    print("age is not between 18 and 65")    
'''

if 18 <= age < 65:
    print("age is between 18 and 65 ")
else:
    print("age is not between 18 and 65")

x: hdhf

ValueError: invalid literal for int() with base 10: 'hdhf'

In [ ]:
# and 
# or 
# not 

high_income = True
good_credit = True
student = True

if (high_income or good_credit) and not student:
    print("Eligible")
else:
    print("Not Eligible")