## For_loop

for loop means iterating.

In [9]:
fruits = ["apple", "pawpaw", "orange", "pear", "mango"] # list(elements)

user_data = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"), 
  "pets": None,
  "cars": [ {"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1} ]
}

maginumber = [(1,2),(23,4),(23,8)]
hello = "My name if koji Bello and i'm the lead Devops Engineer at plastig"

In [5]:
for fruit in fruits:
    print(fruit)

apple
pawpaw
orange
pear
mango

## List comprehension

In [7]:
fruit = [fruit for fruit in fruits]
print(fruit)

['apple', 'pawpaw', 'orange', 'pear', 'mango']

In [12]:
for user in user_data:
    print(user)

name
age
married
divorced
children
pets
cars

In [27]:
for user in user_data.items():
    print(user)

('name', 'John')
('age', 30)
('married', True)
('divorced', False)
('children', ('Ann', 'Billy'))
('pets', None)
('cars', [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}])

###  unpacking inside for loop

In [23]:
for key, value in user_data.items():
    print(value)

John
30
True
False
('Ann', 'Billy')
None
[{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

In [29]:
for number in maginumber:
    print(number)

(1, 2)
(23, 4)
(23, 8)

In [32]:
for x in hello:
    pass

## nested loop

In [41]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end="") # body of inner loop

1234567891024681012141618203691215182124273048121620242832364051015202530354045506121824303642485460714212835424956637081624324048566472809182736455463728190102030405060708090100

In [45]:
names = ['Kelly', 'Jessa', 'Emma']

# outer loop
for name in names:
    
    # inner loop
    for i in range(1,6):
        print(name)

Kelly
Kelly
Kelly
Kelly
Kelly
Jessa
Jessa
Jessa
Jessa
Jessa
Emma
Emma
Emma
Emma
Emma

In [47]:
number = [1,2,3,4,5]
for i in number:
    square = i**2
    print(f"the squre of {i} is {square}")

the squre of 1 is 1
the squre of 2 is 4
the squre of 3 is 9
the squre of 4 is 16
the squre of 5 is 25

In [49]:
for i in range(1,100):
    # in loop(condition)
    if i % 2 == 0:
        print(f"{i} is an Enven Number")
    else:
        print(f"{i} in an Odd number")

1 in an Odd number
2 is an Enven Number
3 in an Odd number
4 is an Enven Number
5 in an Odd number
6 is an Enven Number
7 in an Odd number
8 is an Enven Number
9 in an Odd number
10 is an Enven Number
11 in an Odd number
12 is an Enven Number
13 in an Odd number
14 is an Enven Number
15 in an Odd number
16 is an Enven Number
17 in an Odd number
18 is an Enven Number
19 in an Odd number
20 is an Enven Number
21 in an Odd number
22 is an Enven Number
23 in an Odd number
24 is an Enven Number
25 in an Odd number
26 is an Enven Number
27 in an Odd number
28 is an Enven Number
29 in an Odd number
30 is an Enven Number
31 in an Odd number
32 is an Enven Number
33 in an Odd number
34 is an Enven Number
35 in an Odd number
36 is an Enven Number
37 in an Odd number
38 is an Enven Number
39 in an Odd number
40 is an Enven Number
41 in an Odd number
42 is an Enven Number
43 in an Odd number
44 is an Enven Number
45 in an Odd number
46 is an Enven Number
47 in an Odd number
48 is an Enven Number
49 in an Odd number
50 is an Enven Number
51 in an Odd number
52 is an Enven Number
53 in an Odd number
54 is an Enven Number
55 in an Odd number
56 is an Enven Number
57 in an Odd number
58 is an Enven Number
59 in an Odd number
60 is an Enven Number
61 in an Odd number
62 is an Enven Number
63 in an Odd number
64 is an Enven Number
65 in an Odd number
66 is an Enven Number
67 in an Odd number
68 is an Enven Number
69 in an Odd number
70 is an Enven Number
71 in an Odd number
72 is an Enven Number
73 in an Odd number
74 is an Enven Number
75 in an Odd number
76 is an Enven Number
77 in an Odd number
78 is an Enven Number
79 in an Odd number
80 is an Enven Number
81 in an Odd number
82 is an Enven Number
83 in an Odd number
84 is an Enven Number
85 in an Odd number
86 is an Enven Number
87 in an Odd number
88 is an Enven Number
89 in an Odd number
90 is an Enven Number
91 in an Odd number
92 is an Enven Number
93 in an Odd number
94 is an Enven Number
95 in an Odd number
96 is an Enven Number
97 in an Odd number
98 is an Enven Number
99 in an Odd number

In [50]:
number = [1, 4, 7, 8, 15, 20, 35, 45, 55]

for i in number:
    # inner loop
    if i > 15:
        # exit break
        break
    else:
        print(i)

1
4
7
8
15

In [67]:
name = "mariya mennmbellm men"

count = 0

for m in name:
    if m != 'm':
        continue
    else:
        count =  count + 1    
print("The amount of time m occured is:", count)

The amount of time m occured is: 5

In [68]:
num = [1,2,3,4,5,6,7]
for i in num:
    pass

In [76]:
number = [1,2,3,4,5,6,7]


for i in enumerate(number):
    print(f"index: {i[0]}, value is {i[1]} ")

index: 0, value is 1
index: 1, value is 2
index: 2, value is 3
index: 3, value is 4
index: 4, value is 5
index: 5, value is 6
index: 6, value is 7